.headerqwe20 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1024px;
    height: 56px;
    background: none;
}

.Group_qwe21 {
    position: absolute;
    left: 106px;
    top: 13px;
    width: 181px;
    height: 30px;
}

.paymentsImg{
    position: absolute;
    left: 206px;
    top: 23px;
}

.paymentsImg1{
    position: absolute;
    left: 262px;
    top: 23px;
}

.Rectangle_qwe22 {
    position: absolute;
    left: 0px;
    top: 55px;
    width: 1025px;
    height: 1px;
    background: rgb(100%, 100%, 100%);
    opacity: 0.4;
}

.Group_qwe23 {
    position: absolute;
    left: 32px;
    top: 20px;
}
.splitter{
    position: absolute;
    left: 188px;
    top: 20px;
}

.___qwe24 {
    position: absolute;
    left: 1040px;
    top: 24px;
    width: 208px;
    height: 36px;
    color: rgb(100%, 100%, 100%);
    text-align: LEFT;
    font-size: 28px;
    font-weight: 400;
}

.phone-fill_qwe25 {
    position: absolute;
    left: 1000px;
    top: 26px;
    width: 32px;
    height: 32px;
}

.qwe26 {
    position: absolute;
    left: 693px;
    top: 24px;
    width: 70px;
    height: 36px;
    color: rgb(100%, 100%, 100%);


    text-align: LEFT;
    font-size: 28px;
    font-weight: 400;
}

.№__qwe27 {
    position: absolute;
    left: 791px;
    top: 24px;
    width: 181px;
    height: 36px;
    color: rgb(100%, 100%, 100%);


    text-align: LEFT;
    font-size: 28px;
    font-weight: 400;
}